// Mixin for media queries below 600px
@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.body {
    background-color: #f1f1f1;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    height: 340vh;

    margin: 0;
}

p,
a {
    color: #3b3b3b;
    font-size: 18px;

    line-height: 24px;

    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.main {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100vw;

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background {
    opacity: 0.6;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;
}

.bg-top-right {
    position: absolute;
    top: 0;
    right: 0;

    width: auto;
    height: 50%;

    @include mobile {
        height: 36%;
    }
}

.bg-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;

    width: auto;
    height: 50%;

    @include mobile {
        height: 32%;
    }
}

.gradient-line {
    width: 100%;
    height: 1px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #ffc93c 13%, #f997f7 48%, #fb7216 87%, #1bbc5c 100%);
    flex: 1;
    margin-left: auto;
    margin-right: auto;

    margin-top: 34px;
}

.contact-us {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 50%;

    opacity: 0;

    position: relative;
    z-index: 1;

    @include mobile {
        width: 76%;
    }
}

.section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;

    padding-top: 34px;
}

img {
    // max-width: 100%;
    display: block;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.logo {
    img {
        max-height: 40px;
        margin-bottom: -12px;
    }
}

.gif-emblem {
    display: flex;

    justify-content: center;

    align-items: center;

    position: fixed;

    z-index: 0;

    height: 100vh;
}

.gif-item {
    height: 26vh;

    position: relative;

    img {
        width: auto;
        height: 100%;
    }

    @include mobile {
        height: 20vh;
    }
}

.coming-soon {
    border-radius: 10px;
    background: var(--Color-Linear, linear-gradient(92deg, #A18DFA -1.39%, #BB88E4 24.25%, #E289BC 45.78%, #F193A6 67.51%, #8895D8 86.15%, #9389F7 105.21%));

    margin-top: 64px;
    height: 60px;

    font-weight: 500;
    font-size: 28px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.scroll-down {
    position: fixed;
    bottom: 48px;

    p {
        font-weight: 600;

        font-size: 36px;

        color: #A18DFA;

        text-align: center;

        &.arrows {
            letter-spacing: 2px;

            position: relative;

            right: -2px;
        }
    }
}
